<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
<main class="all-travels-main">

    <h1 class="all-travels-h1">Stories</h1>
    <nav class="all-travels-nav">
        <ul>
            <li><a href="map">Map</a></li>
            <li><a href="all-countries">All Countries</a></li>
            <li><a href="#map">Search</a></li>
        </ul>
    </nav>
    <div class="section-wrapper">
        <section class="img-grid">
            <% data.forEach(obj => { %> 
                <div class="grid-element">
                    <a href=<%= obj.id%>><img class="all-travels-img" src=<%= obj.img %>  alt=<%= obj.alt %>></a>
                    <a href=<%= obj.id%> class="figcaption"><%= obj.title %></a>
                </div>
            <% }) %> 
        </section>
    </div>


    </main>  
</body>
<%- include('../partials/footer.ejs') %>
</html>
